* {
    font-family: 'Times New Roman', Times, serif;
}

#pageTitle {
    background-color: black;
    color: antiquewhite;
    margin: 0;
    border: 10px;
    padding: 30px;
    width: 100%;
}

body {
    margin: 0px;
    width: 90%; /* Maybe not optimal, but needed to fit screen */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.box {
    display: inline-grid;
    margin: 10px;
    background-color: rgb(238, 237, 237);
    padding: 10px;
    border-radius: 20px;
}

#getLoan {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    background-color: lightgreen;
    height: 50px;
    margin-bottom: 10px;
}

.info {
    float: left;
}

.value {
    float: right;
}

.workButtons {
    border-radius: 5px;
    width: 45%;
    margin-top: 10px;
}

#bankButton {
    float: left;
    background-color: lightyellow;
    height: 50px;
    margin-bottom: 10px;
}

#workButton {
    float: right;
    background-color: lightblue;
    height: 50px;
    margin-bottom: 10px;
}

#laptopsDropdown {
    border-radius: 5px;
    margin: 10px;
}

#outstanding {
    opacity: 0;
}

#outstandingValue {
    opacity: 0;
}

#repayButton {
    opacity: 0;
    width: 100%;
    background-color: lightsalmon;
}

#features {
    font-weight: bold;
}

#under {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#computerImage {
    float: left;
    width: 80%;
    border-radius: 10px;
}

#computerPrice {
    float: left;
    margin-left: 30%;
    width: 100%;
}

#buyNow {
    float: left;
    width: 75%;
    height: 50%;
    background-color: lightblue;
    border-radius: 5px;
}